:root {
  --gray: rgb(53, 59, 65);
  --gray-op: rgb(59, 66, 73);
  --darkgray: rgb(32, 35, 39);
  --secondary: rgb(111, 173, 192);
  --secondary-op: rgba(158, 215, 233, 0.836);
  --primary: rgb(6, 7, 7);
  --gray2: #31343d;
  --alpha: rgba(160, 160, 160, 0.7);
  --beta: rgba(75, 75, 75, 0.788);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#azino-nav:hover {
  color: whitesmoke;
  transition: all 0.3s ease-in-out;
}
#azino-nav {
  color: var(--primary);
}

#login-btn {
  margin-right: 1rem;
}
#logo {
  margin-right: 1vw;
}
#login-signup-page {
  background-color: rgb(219, 221, 223);
}
#login-signup-form {
  padding-top: 10vw;
  margin-bottom: 10vw;
  width: 25rem;
  text-align: center;
}
#small-card {
  margin-top: 1rem;
}

#login-btn a,
#logout-btn a,
#signup-btn a {
  color: whitesmoke;
  text-emphasis: none;
}
.card-body {
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.6);
}
.form-group {
  margin-top: 1rem;
}
/* .jumbotron img {
  padding: 2px;
  max-height: 100vw;
  max-width: 10vw;
} */
.navbar {
  border-bottom: 1px solid;
  background-color: #606c74!important;
}
.jumbotron {
  background-image: url("./assets/shirts.jpg");
  position: relative;
  left: 0;
  height: 40rem;
  width: 100%;
  background-color: #000;
  z-index: 1;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
  color: whitesmoke;
}

.jumbotron h1,
.jumbotron p {
  background-color: rgba(53, 59, 65, 0.84);
  padding-left: 1rem;
  width: 20rem;
}
.jumbotron p {
  width: 65%;
}

.flex-row {
  display: flex;
}

#shirt-btn,
#pant-btn {
  margin-top: 10rem;
  margin-left: 2rem;
  background-color: rgba(53, 59, 65, 0.801);
}
#shirt-btn:hover,
#pant-btn:hover,
.btn:hover {
  color: whitesmoke;
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn:hover {
  background-color: var(--secondary);
}
#category-container {
  background-color: whitesmoke;
  max-width: 100%;
}
.About {
  padding: 3vw;
  border-top: solid;
  margin: 5vw;
  margin-bottom: 1vw;
  /* color: black; */
  transition: all 0.5s ease-in-out;
}
.About:hover {
  box-shadow: 5px 5px 100px 5px whitesmoke;
  background-color: rgba(245, 245, 245, 0.1);
  transition: all 0.5s ease-in-out;
}
.azino-logo-text {
  width: 100%;
  display: flex;
  justify-content: center;
}
.azino-logo-text img {
  max-width: 50vw;
  max-height: 50vw;
}
#product-header {
  margin-top: 4rem;
  text-align: center;
  color: whitesmoke;
}
.product-item,
.single-product-item {
  margin: 3vw;
  text-align: center;
  background-color: rgb(245, 245, 245);
  text-emphasis: none;
}
.product-item p {
  font-size: large;
  color: var(--darkgray);
}
.product-item:hover {
  background-color: var(--secondary-op);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 25px;
  z-index: 900;
  opacity: 1;
  box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, 0.432);
  transition: all 0.5s ease-in-out;
}
.product-item:hover p {
  font-size: x-large;
  font-weight: bolder;
  color: var(--gray2);
  transition: all 0.5s ease-in-out;
}
.product-item img,
.single-product-item img {
  max-width: 300px;
  max-height: 500px;
  height: auto;
  width: auto;
  border-radius: 8px;
  margin-bottom: 1vw;
}
.single-product-item {
  margin: 0;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}
.single-product-item a {
  color: var(--darkgray);
}

.cart-btns{
  margin-bottom: 1rem;
}
.product-style {
  margin-top: 5vw;
}
.product-btn {
  margin: 2vw;
}
.category {
  margin-bottom: 5vw;
}
.category-title {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 25px;
  padding-top: 4rem;
  border-top: solid 10px var(--darkgray);
}
.category-title h2 {
  margin-bottom: 4rem;
}
/* .category-title h2:hover {
  box-shadow: 5px 5px 100px 5px whitesmoke;
  background-color: rgba(245, 245, 245, 0.336);
  transition: all 0.5s ease-in-out;
} */
.category-box {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.category-text {
  color: var(--secondary);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 50px;
  z-index: 900;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-text:hover {
  background-color: var(--alpha);
  opacity: 1;
  border: 10px solid var(--gray2);
}

.categorybtn {
  padding: 10vw;
  background-color: var(--beta);
  color: whitesmoke;
  font-size: xx-large;
  transition: all 0.4s ease-in-out;
}
.view-all {
  width: 100%;
  display: flex;
  justify-content: center;
}
.view-all a {
  text-decoration: none;
  color: whitesmoke;
}

.product-card {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .About:hover {
    box-shadow: none;
    background-color: #343A40;
    transition: none;
  }
  .category-text {
    background-color: rgba(160, 160, 160, 0.329);
    opacity: 1;
    /* border: 10px solid var(--gray2); */
  }
  .categorybtn {
    padding: 5vw;
    background-color: rgba(160, 160, 160, 0);
    border-color: rgba(160, 160, 160, 0);
    opacity: 1;
    color: whitesmoke;
    font-size: x-large;
    font-weight: bold;
  }
  #product-header {
    margin-top: 10vw;
    margin-bottom: 5vw;
  }

  #azino-nav {
    color: whitesmoke;
    margin-left: 1rem;
  }
}
